@media(min-width:600px){
    .card a{
        text-decoration: none;
        color: black; font-variant-caps: small-caps;
    }
    .body.card{
        transition: all 0.5s;
    }
    .body:hover.card{
        background-color: black;
        letter-spacing: 3px;
    } .body:hover.card a{ color: white; }
}